@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff2") format("woff2");
    *font-weight: #{$weight};
    font-style: #{$style};
  }
}
@import url("https://p.typekit.net/p.css?s=1&k=sjd0rft&ht=tk&f=44999&a=14219612&app=typekit&e=css");

@font-face {
  font-family:"railroad-gothic-atf";
  src:url("https://use.typekit.net/af/97606d/00000000000000007735c6b4/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/97606d/00000000000000007735c6b4/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/97606d/00000000000000007735c6b4/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

.tk-railroad-gothic-atf { font-family: "railroad-gothic-atf",sans-serif; }
@include font("Signifier-Regular-Italic", "signifier-regular-italic", "400", "italic");
@include font("Signifier-Regular", "signifier-regular", "400", "normal");
@include font("Signifier-Medium", "signifier-medium", "500", "normal");
@include font("Signifier-Medium", "signifier-medium", "500", "normal");
@include font("Railroad-Gothic-ATF", "Railroad-Gothic-ATF", "400", "normal");
@include font("Founders-Grotesk-Medium", "Founders-Grotesk-Medium", "500", "normal");
@include font("Founders-Grotesk-Light", "Founders-Grotesk-Light", "300", "normal");
@include font("Founders-Grotesk-Italic", "Founders-Grotesk-Italic", "400", "Italic");
@include font("Founders-Grotesk", "Founders-Grotesk", "400", "normal");

